.button {
  display: flex;
  justify-content: center;
}

.contact {
  width: fit-content;
  min-width: 300px;
  list-style: none;
}
.contactsContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0;
}
